body {
    font-family: sans-serif;
}

h1 {
    
    padding-top: 10px;
    font-weight: bold;
    font-size: 38px;
}

h1, 
.side-bar, 
.location, 
.hrs-phn, 
.big3-text {
    display: inline-block;
    vertical-align: top;
}

.blue {
    color: #22659e;
}

.red {
    color: #d9231c;
}

.cyan {
    color: #00c0df;
}

.internet {
    position: relative;
    top: 20px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.globe {
    width: 100px;
}

h2 {
    height: 40px;
    width: 940px;
    background: linear-gradient(to bottom, #23669e, #5283ad, #23669e);
    color: #fff;
    font-size: 26px;
    padding: 15px 0 0 20px;
}

.main {
    background: linear-gradient(to bottom, #e3e3e3, #fff);
}

.side-bar {
    width: 200px;
    font-weight: bold;
    padding-top: 20px;
    margin-right: 20px;
}

.side-bar p {
    padding: 15px 0 15px 4px;
    font-size: 13px;
}

.blue-btn, .orange-btn, .cyan-btn {
    height: 40px;
    width: 175px;
    margin-top: 5px;
    margin-left: 3px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    box-shadow: 2px 2px 3px #000;
}

.blue-btn {
    background: linear-gradient(to bottom, #6298c3, #2668a0)
}

.orange-btn {
    background: linear-gradient(to bottom, #ebab52, #f07300)
}

.side-bar hr {
    margin: 15px 0 15px 10px;;
    width: 180px;
}

.advert {
    background-image: url('matrix.png');
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: #000 2px 2px 3px;    
}

.advert p {
    color: #fff;
    font-size: 20px;
    line-height: 1.2em;
}

.advert img {
    width: 85px;
}

.cyan-btn {
    background: linear-gradient(to bottom, #73d0df, #00c1df);
    margin-bottom: 20px;
}

.content {
    display: inline-block;
}

.location {
    margin-top: 15px;
}

.location img {
    width: 20px;
}

.location h4 {
    display: inline;
    vertical-align: bottom;
    padding-top: 6px;
    font-size: 20px;
}

.contact {
    margin-top: 15px;
    display: inline-block;
    width: 290px;
    position: relative;
    left: 420px;
}

.contact img {
    width: 55px;
}

.hrs-phn {
    padding-top: 5px;
    text-align: center;
}

.hrs-phn p {
    font-size: 11px;
}

#phone {
    font-size: 22px;
    font-weight: 900;
}

.words {
    width: 715px;
}

.words h3, .big3 h3 {
    font-weight: 900;
    padding: 8px 0;
}

.words p, .big3 p {
    padding: 8px 0;
}

.words ul, .words ol {
    margin-left: 50px;
    line-height: 1.3em;
}

.words ul {
    list-style-type: circle;   
}

.words img {
    width: 200px;
    margin: 15px 0 15px 225px;;
}


.words ol {
    list-style-type: decimal;
}

.big3 {
    border: 5px solid #22659e;
    width: 700px;
    margin-top: 15px;
}

.big3 img {
    width: 150px;
    margin: 15px;
}

.big3-text {
    width: 500px;
    margin-top: 15px;
}