.container {
  height: 1000px;
  width: 1200px;
  background-color: rgb(45, 8, 63);
  margin: 0 auto;
  padding: 15px;
}

.main-image {
  height: 300px;
  width: 460px;
  border: 5px solid plum;
  background-image: url('photo_of_me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 15px;
}

.head {
  background-color: chartreuse;
  height: 40px;
  width: 460px;
  display: inline-block;
  position: static;
}

.about {
  height: 310px;
  width: 460px;
  background-color: palevioletred;
  display: inline-block;
  vertical-align: top;
}

