* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
div, .header * {
    /* border: 1px solid red; */
}
.container {
    max-width: 930px;
    margin: 0 auto;
}
.header {
    background-color: whitesmoke;
    width: 100%;
}
.header h1, .header h2 {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.header h1 {
    padding: 18px 0 20px 20px;
    text-align: left;
}
.header h2 {
    text-align: right;
    margin-top: 24px;
    text-shadow: 2px 1px 3px grey;
}
.main {
    background: radial-gradient(#6d5864, #211318);
    padding: 15px;
}
.container {
    width: 100%;
    text-align: center;
}
.image, .about {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    margin: 5px;
}
.image {
    border: 5px solid #bfbfbf;
}
.image img {
    width: 100%;
}
.head {
    color: white;
    height: 40px;
    padding: 12px 0 0 15px;
    background: linear-gradient(to bottom, #b2b1b5, #868392, #b2b1b5);
    text-align: left;
    text-shadow: 1px 1px 8px black;
}
.about {
    background: linear-gradient(to right, #fffeff, #d8c8d8);
    padding-bottom: 4px;
}
.text * {
    text-align: left;
    margin: 15px;
}